.board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}

.board__element {
    background-color: green;
}

.snake {
    background-color: #000;
}