* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #d8d8d8;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    width: 98%;
    height: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    margin: 1em;
}

.board {
    width: 98vw;
    height: 98vw;
    display: grid;
    border: 15px solid black;
    background-color: rgb(6, 54, 12);
    border-radius: 10px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}

.board__element {
    background-color: rgb(13, 121, 28);
}

.food {
    background-color: rgb(217, 128, 20);
    border-radius: 2px;
}

.snake {
    background-color: rgb(20, 51, 205);
    border-radius: 2px;
}

.snake__head--horizontal,
.snake__head--vertical {
    position: relative;
}

.snake__head--horizontal::before,
.snake__head--horizontal::after,
.snake__head--vertical::before,
.snake__head--vertical::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #222;
    border: 3px solid #eee;
    border-radius: 50%;
}

.snake__head--horizontal::before {
    top: -3px;
    left: 3px;
}

.snake__head--horizontal::after {
    bottom: -3px;
    left: 3px;
}

.snake__head--vertical::before {
    top: 3px;
    left: -3px;
}

.snake__head--vertical::after {
    top: 3px;
    right: -3px;
}

.snake__tongue {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgb(219, 58, 18);
}

.snake__tongue--right,
.snake__tongue--left {
    width: 8px;
    height: 5px;
    bottom: 50%;
    transform: translateY(50%);
}

.snake__tongue--right {
    right: -6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.snake__tongue--left {
    left: -6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.snake__tongue--up,
.snake__tongue--down {
    width: 5px;
    height: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.snake__tongue--up {
    top: -6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.snake__tongue--down {
    bottom: -6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.game-info {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000aa;
}

.game-info--on {
    display: flex;
}

.game-info .game-info__text {
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    color: #eee;
    animation: 2s pulse infinite;
}


@keyframes pulse {
    0% {
        color: #eee;
    }

    50% {
        color: #639;
    }

    100% {
        color: #eee;
    }
}

@media (min-width: 576px) {
    .board {
        width: 400px;
        height: 400px;
    }
}